body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:large;
    background-color:rgb(90, 90, 255);
    background-image:linear-gradient(180deg,rgb(39, 39, 139),rgb(115, 42, 184),rgb(93, 93, 158));
    color:white;
    
}
header{
    display:flex;
    justify-content: center;
    align-items:center;
}

.divInput{
    position:absolute;
    top:0px;
}

.autofill{
    position: relative;
    display:none;
    flex-direction:column;
    right:0px;
    background-color: white;
    color:black;
}